*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(255, 136, 0);
    padding: 0 15px;
}

.header__up-logo {
    font-family: 'Lobster', cursive;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.header__up-phone {
    color: white;
}

.header__up-cart {
    background-color: rgb(255, 238, 0);
    padding: 7px 15px 5px 15px;
    border-radius: 50px 50px 0 0;
    position: relative;
}

.header__up-cart a {
    text-decoration: none;
    color: rgb(248, 6, 78);
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.header__up-cart-a:hover,
.header__up-cart-a.active {
    color: rgb(190, 9, 63);
}

.block-cart{
    position: absolute;
    top: 43px;
    right: -16px;
    background-color: rgb(238, 169, 80);
    width: 500px;
    

}

.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.order__img{
    width: 78px;
}

.order__img img{
    width: 78px;
    height: 60px;
}

.order__title{
    font-size: 17px;
    color: rgb(201, 112, 11);
}

.order__wrap-price{
    color: rgb(248, 6, 78);
    font-size: 19px;
}

.empty h3{
    font-size: 18px;
    color: rgb(201, 112, 11);
    padding: 10px;
    margin:0px;
}

.order__delete a{
    text-decoration: none;
    color: rgb(248, 6, 78);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.sum{
    color:rgb(248, 6, 78);
    margin-left: 10px;
}

.open-cart{
    color: rgb(201, 112, 11);
    margin-left: 10px;
    margin-bottom: 10px;
}

.header__first {
    display: flex;
}

.header__first-img {
    margin-top: 30px;
}

.header__first-img img {
    max-width: 550px;
}

.header__title {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: 500;
    color: rgb(248, 6, 78);
    max-width: 1000px;

    margin: 0 auto;
    padding-top: 30px;
}

.header__subtitle {
    font-size: 22px;
    font-style: italic;
    color: rgb(255, 136, 0);
    max-width: 1000px;

    margin: 0 auto;
    padding-top: 20px;
}

.main-wrap {
    display: flex;
    margin-top: 50px;

}

h3 {
    color: rgb(201, 112, 11);
    font-size: 27px;
    margin-bottom: 30px;
}

.shops {
    min-width:260px;
    padding: 15px;
}

.shops__menu li a {
    text-decoration: none;
    line-height: 45px;
    color: rgb(190, 9, 63);
    font-size: 27px;
    font-family: 'Lobster', cursive;
}

.catalog {
    margin-left: 10px;

    padding: 15px;
}

.catalog__menu li {
    display: inline;
}

.catalog__menu li a {
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
    color: rgb(190, 9, 63);
}

.catalog__menu li a:hover {
    color: rgb(200, 6, 248);
}

.categories__menu{
    margin-left: 20px;
    padding: 15px;
    display: inline;
    font-size: 20px;
    color: rgb(190, 9, 63);
}

.categories__menu:hover {
    color: rgb(200, 6, 248);
}

.products-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

.product {
    background-color: rgba(252, 227, 6, 0.548);
    margin-bottom: 30px;
}

.product__img {
    width: 260px;
    height: 200px;
    overflow: hidden;
}

.product__img img {
    max-width: auto;
    height: 100%;
}

.product__title {
    font-size: 20px;
    margin: 15px 0 7px 10px;
    color: rgb(201, 112, 11);
}

.product__subtitle {
    margin: 0 0 7px 10px;
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
    color: rgb(201, 112, 11);
}

.product__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.product__wrap-price {
    color: rgb(248, 6, 78);
    font-size: 21px;
}

.product__wrap-addcart a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 0, 179);
}

footer p {
    padding: 50px 15px;
    background-color: rgb(255, 136, 0);
    color: white;
    text-align: center;
}
